<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @sub_product_type.description %>
</p>

<%= link_to 'Edit', edit_sub_product_type_path(@sub_product_type) %> |
<%= link_to 'Back', sub_product_types_path %>
