<h1>Producción</h1>

<table class="datatable table-striped table-bordered table-list">
  <thead>
    <tr>
      <th>Tropa</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.lot.dte %></td>
        <td><%= product.description %></td>
        <td>
          <%= link_to (fa_icon "pencil-square-o"), new_product_detail_path(:prod => product), class: 'btn btn-sm btn-warning' %>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>