<h1 style="margin-bottom: 15px;">Nuevo detalle producción</h1>

<% if @product %>
	<h3 style="margin-bottom: 25px;text-align: center;"> <%= @product.lot.to_s%> </h3>	
<% end %>      

<%= render 'form', product_detail: @product_detail %>
