<tr class="detail-field">
	<td><%= f.number_field :weight, class: "form-control input-lg", placeholder: "Peso"%></td>
	<td><%= f.number_field :weight_control, class: "form-control input-lg", placeholder: "Peso control"%></td>
	<td><%= f.text_field :observation, class: "form-control input-lg", placeholder: "Observacion"%></td>
</tr>