<h1>Editando Produccion</h1>

<div class="row justify-content-md-center">
<div class="col-sm-8">
<%= render 'form', product: @product %>
</div>
</div>
<%= link_to 'Mostrar', @product %> |
<%= link_to 'Volver', products_path %>
